<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">

   <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

       <header class="mb-2 mb-md-5">
           <div>
               <h3 class="float-md-left mb-2 mb-md-0 ml-3 ml-md-0">YelpCamp</h3>
               <nav class="d-flex flex-column flex-md-row nav nav-masthead align-items-center justify-content-center float-md-right">
                   <a class="w-auto px-2 nav-link active" aria-current="page" href="#">Home</a>
                   <a class="w-auto px-2 nav-link" href="/campgrounds">Campgrounds</a>
                   <% if(!currentUser) { %>
                   <a class="w-auto px-2 nav-link" href="/login">Login</a>
                   <a class="w-auto px-2 nav-link" href="/register">Register</a>
                   <% } else { %>
                   <a class="w-auto px-2 nav-link" href="/logout">Logout</a>
                   <% } %>
               </nav>
           </div>
       </header>

       <main class="my-auto mb-5 pb-5 pb-md-0 d-flex flex-column align-items-center px-0 px-md-3">
           <h1>YelpCamp</h1>
           <p class="lead"> Welcome to YelpCamp! <br> Jump right in and explore our many campgrounds. <br>
               Feel free to share some of your own and comment on others!</p>
           <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
               Campgrounds</a>
       </main>

       <footer class="mt-auto text-white-50">
           <p>&copy; 2021 YelpCamp</p>
       </footer>


   </div>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>